<?xml version="1.0"?>
<launch>

  <rosparam command="load" file="$(find waypoint_navigation)/params/ekf_params.yaml" />
  <rosparam command="load" file="$(find waypoint_navigation)/params/navsat_params.yaml" />

  <!--<node pkg="gps_common" type="utm_odometry_node" name="gps_utm">
  <param name="frame_id" value="utm"/>
  <remap from="fix" to="gps/fix"/>
  <remap from="odom" to="/odometry_raw/gps"/>
  </node>-->

  
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se_odom" clear_params="true"/>

  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se_map" clear_params="true">
    <remap from="odometry/filtered" to="odometry/filtered_map"/>
  </node>

  <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform" clear_params="true" output="screen">
      <remap from="odometry/filtered" to="odometry/filtered_map"/>
      <remap from="gps/fix" to="/gps/fix"/>
      <remap from="imu/data" to="/imu/data"/>
  </node>

</launch>